// Sizes and Breakpoints

$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;



// Colors

$black: #323232;
$white: #FFFFFF;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$instock-blue: #004892;
$instock-blue-dark: #002F5F;
$brainflix-blue: #0065AD;
$brainflix-blue-light: #0095FF;

