// Sizes and Breakpoints
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

// Flex Properties
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin justify-align-center {
  justify-content: center;
  align-items: center;
}

// Fonts
// Desk & Tablet Text Styles
@mixin hero-header {
  font-family: "AvenirBold";
  font-size: 3.75rem;
  line-height: 4.25rem;
}

@mixin h1-header-desktop {
  font-family: "AvenirBold";
  font-size: 2.25rem;
  line-height: 2.75rem;
}

@mixin h2-header {
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin h3-subheader {
  font-family: "AvenirDemi";
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin h4-paragraph {
  font-family: "AvenirDemi";
  font-size: 0.8rem;
  line-height: 1.375rem;
}

@mixin h4-lists {
  font-family: "AvenirRegular";
  font-size: 0.775rem;
  line-height: 1.25rem;
}

@mixin h5-labels {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

// Mobile Text Styles

@mixin h1-header-mob {
  font-family: "AvenirDemi";
  font-size: 1rem;
  line-height: 1.75rem;
}

@mixin h2-subheader-mob {
  font-family: "AvenirDemi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin h4-paragraph-mob {
  color: $black;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

@mixin h4-lists-mob {
  font-size: 0.813rem;
  line-height: 1.125rem;
}

@mixin h5-labels-mob {
  font-family: "AvenirDemi";
  font-size: 0.75rem;
  line-height: 1.25rem;
}
