@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/navbarSection";
@import "./partials/showsHeader";
@import "./partials/showsSection";
@import "./partials/aboutSection";
@import "./partials/photoGallerySection";
@import "./partials/commentsSection";
@import "./partials/footerSection";

* {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular";
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// ---------------------------------------
// Navigation Bar
// ./partials/navbarSection
// ---------------------------------------

// ---------------------------------------
// Header Section
// ---------------------------------------

.header {
  background-image: url("../assets/images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  height: 11.438rem;
  width: 100%;
  margin: 0;

  &__title {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 60%;
    color: $white;
    margin: 3.125rem 0 0 1rem;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__music {
    background-color: red; // restart point
  }
}

@include tablet {
  .header {
    width: 100%;
    height: 25rem;

    &__title {
      width: 80%;
      font-size: 3.75rem;
      margin: 7.5rem 1.5rem;
    }
  }
}

@include desktop {
  .header {
    width: 100%;
    height: 41.875rem;
    &__title {
      @include hero-header;
      width: 47%;
      margin: 11.25rem;
    }
  }
}

// ---------------------------------------
// SHOWS HEADER SECTION
// "./partials/showsHeader";
// ---------------------------------------

// ---------------------------------------
// SHOWS DATES SECTION
// "./partials/showsSection";
// ---------------------------------------

// ---------------------------------------
// ABOUT SECTION
// "./partials/aboutSection";
// ---------------------------------------

// ---------------------------------------
// PHOTO GALLERY SECTION
// "./partials/photoGallerySection";
// ---------------------------------------

// ---------------------------------------
// COMMENTS SECTION
// "./partials/commentsSection";
// ---------------------------------------

// ---------------------------------------
// Footer Section
// ./partials/footerSection
// ---------------------------------------
