@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";

* {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular";
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Navigation Bar
// *
// *
// *

.navbar {
  background-color: $black;
  @include flex-column;
  @include justify-align-center;
  width: 100%;
  height: 5rem;
  padding: 0;
  margin: 0;

  &__logo {
    margin-bottom: 0.5rem;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__list {
    @include flex-row;
    list-style: none;
    justify-content: space-around;
    width: 20rem;
    margin: 0;
  }

  &__item {
    @include h3-subheader;
  }

  &__link {
    text-decoration: none;
    color: $white;
    position: relative;
    transition: $transition-500;
    &--bio {
      &::after {
        content: "";
        position: absolute;
        top: 1.875rem;
        left: -3.125rem;
        height: 0.25rem;
        width: 10rem;
        background: $white;
      }
    }
    &--shows {
      &::after {
        content: "";
        position: absolute;
        top: 1.875rem;
        left: -3.125rem;
        height: 0.25rem;
        width: 10rem;
        background: $white;
      }
    }
    &:hover {
      color: $brainflix-blue-light;
    }
  }
}

@include tablet {
  .navbar {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    &__logo {
      margin-left: 1.5rem;
      padding-top: 0.938rem;
    }

    &__link {
      text-decoration: none;
      color: $white;

      &--bio {
        &::after {
          content: "";
          position: absolute;
          top: 2.876rem;
          bottom: 0;
          left: -0.5rem;
          height: 0.25rem;
          width: 6rem;
          background: $white;
        }
      }
      &--shows {
        &::after {
          content: "";
          position: absolute;
          top: 2.876rem;
          bottom: 0;
          left: -1.4rem;
          height: 0.25rem;
          width: 6rem;
          background: $white;
        }
      }
    }
  }
}

@include desktop {
  .navbar {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    &__logo {
      margin-left: 11.25rem;
      padding: 0;
    }
    &__link {
      &--bio {
        &::after {
          content: "";
          position: absolute;
          top: 2.875rem;
          left: 0;
          height: 0.25rem;
          width: 5rem;
          background: $white;
        }
      }
    }
  }
}

// Header Section
// *
// *
// *

.header {
  background-image: url("/assets/images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  height: 11.438rem;
  width: 100%;
  margin: 0;

  &__title {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 60%;
    color: $white;
    margin: 3.125rem 0 0 1rem;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__music {
    background-color: red; // restart point
  }
}

@include tablet {
  .header {
    width: 100%;
    height: 25rem;

    &__title {
      width: 80%;
      font-size: 3.75rem;
      margin: 7.5rem 1.5rem;
    }
  }
}

@include desktop {
  .header {
    width: 100%;
    height: 41.875rem;
    &__title {
      @include hero-header;
      width: 47%;
      margin: 11.25rem;
    }
  }
}

// Shows Header Section
// *
// *
// *

.showsPageHeader {
  background-image: url("/assets/images/alexander-popov-3InMDrsuYrk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 29.5rem;
  width: 100%;
  margin: 0;
  @include flex-column;
  justify-content: center;
  align-items: center;

  &__container {
    @include flex-column;
    margin-left: 1rem;
  }

  &__title {
    font-family: "AvenirBold";
    font-size: 2rem;
    width: 90%;
    color: $white;
    margin: 1rem 0 4rem 0;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__subheader {
    @include h4-paragraph;
    width: 60%;
    color: $white;
    margin-top: 4rem;
  }

  &__music {
    width: 90%;
    height: 6.25rem;
    margin-bottom: 3rem;
  }
}

@include tablet {
  .showsPageHeader {
    height: 40rem;

    &__container {
      margin-left: 1.5rem;
    }

    &__title {
      width: 75%;
      font-size: 3.75rem;
    }

    &__subheader {
      @include h2-header;
      margin-top: 6rem;
    }

    &__music {
      align-self: flex-start;
      margin-left: 1.5rem;
      margin-bottom: 6rem;
      width: 55%;
      height: 10rem;
    }
  }
}

@include desktop {
  .showsPageHeader {
    height: 41rem;
    width: 100vw;
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    &__container {
      width: 40%;
      margin-left: 11.25rem;
      @include flex-column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &__title {
      @include hero-header;
      width: 100%;
      margin-top: 3rem;
    }

    &__subheader {
      width: 70%;
      margin-top: 0;
    }

    &__music {
      width: 27.25rem;
      height: 9.125rem;
      margin-left: 4rem;
      margin-top: 17.5rem;
    }
  }
}

// Shows Dates Section
// *
// *
// *

.shows {
  @include flex-column;
  margin-bottom: 2rem;
  &__header {
    font-family: "AvenirBold";
    font-size: 1.5rem;
    color: $black;
    width: 60%;
    margin: 2rem 0 40px 1rem;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__container {
    @include flex-column;
  }

  &__titleBlock-heading {
    display: none;
  }
}

.container {
  &__block {
    margin: 0 16px 16px 16px;
    border-bottom: 2px $mercury solid;
  }

  &__block-cardTitle {
    color: $silver;
    margin-bottom: 16px;
  }

  &__block-cardInput {
    margin-bottom: 24px;
  }

  &__block-cardDate {
    @include h3-subheader;
    color: $black;
  }

  &__block-button {
    background-color: $black;
    @include h4-lists-mob;
    font-family: "AvenirDemi";
    color: $white;
    height: 3rem;
    width: 100%;
    border-radius: 0.313rem;
    border: 0.125rem $black solid;
    margin-bottom: 16px;
  }
}

@include tablet {
  .shows {
    &__header {
      margin-left: 1.5rem;
    }

    &__container {
      justify-content: flex-end;
    }

    &__titleBlock {
      @include flex-row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &__titleBlockDate {
      margin-right: 7.6rem;
    }

    &__titleBlock-heading {
      display: inline-flex;
      @include h5-labels;
      color: $silver;
      margin-left: 1.5rem;
      margin-right: 7.2rem;
    }
  }

  .container {
    &__block {
      @include flex-row;
      justify-content: flex-start;
      align-items: center;
      width: 90%;
      margin: 1rem 1.5rem 0 1.5rem;
    }

    &__block-card {
      justify-content: flex-start;
      width: 28%;
    }

    &__block-cardTitle {
      display: none;
    }

    &__block-cardInput {
      @include h4-paragraph-mob;
    }

    &__block-cardDate {
      font-size: 0.8rem;
    }

    &__block-button {
      width: 25%;
    }
  }
}

@include desktop {
  .shows {
    @include flex-row;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;

    &__header {
      @include h1-header-desktop;
      margin: 0 0 0 11.25rem;
      width: 20%;
    }

    &__container {
      justify-content: flex-end;
      width: 50.25rem;
      margin-top: 1rem;
      margin-right: 8rem;
    }

    &__titleBlock-heading {
      margin-right: 8rem;
    }
  }

  .container {
    &__block-button {
      width: 10rem;
    }

    &__block-cardInput {
      font-size: 1rem;
    }
  }
}

// About Section
// *
// *
// *

.about {
  margin: 0;
  width: 100%;
  &__title {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 18.75rem;
    margin: 2rem 0 0 1rem;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__container {
    @include flex-column;
    @include justify-align-center;
  }

  &__block {
    @include flex-column;
    justify-content: flex-start;
    margin: 0 1rem;
  }

  &__header {
    @include h1-header-mob;
    padding: 0;
  }

  &__subheader {
    @include h2-subheader-mob;
    margin: 2rem 0 2.5rem 0;
  }

  &__image {
    width: 90vw;
    margin: 1.5rem 0;
    transition: $transition-900;
    &:hover {
      transform: scale(1.025);
      box-shadow: 7px 7px 15px $mercury;
      border-radius: 5px;
    }
  }

  &__subdivision {
    @include flex-column;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
  }

  &__paragraph {
    @include h4-paragraph-mob;
    margin-top: 1.5rem;
  }
}

@include tablet {
  .about {
    width: 100%;
    &__title {
      @include h1-header-desktop;
      width: 80%;
      margin-left: 1.5rem;
    }

    &__block {
      margin: 0 1.5rem 0 0;
    }

    &__header {
      font-family: "AvenirBold";
      font-size: 1.438rem;
      line-height: 2rem;
      margin-left: 1.5rem;
    }

    &__subheader {
      @include h3-subheader;
      margin-left: 1.5rem;
    }

    &__image {
      // width: 45rem;
      width: 94vw;
    }

    &__subdivision {
      flex-direction: row;
    }
    &__paragraph {
      margin-left: 1.5rem;
    }
  }
}

@include desktop {
  .about {
    &__title {
      margin-left: 11.25rem;
    }

    &__block {
      width: 56rem;
      margin: 0 16.25rem 0 11.25rem;
    }

    &__header {
      margin: 0 0 0 2.5rem;
    }

    &__subheader {
      margin: 2.5rem 0 3.5rem 2.5rem;
    }

    &__image {
      margin: 3rem 11.25rem;
      width: 63vw;
    }

    &__paragraph {
      width: 26.25rem;
      font-size: 0.875rem;
      margin-left: 2.5rem;
    }
  }
}

// Photo Gallery Section
// *
// *
// *

.photos {
  @include flex-column;
  align-items: center;
  background-color: $alabaster;
  margin: 0;
  width: 100%;

  &__header {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 18.75rem;
    margin: 2rem 0 0.5rem 1rem;
    align-self: flex-start;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__gallery {
    @include flex-column;
    margin: 0;
    padding: 0;
  }

  &__images {
    width: 92vw;
    padding: 1rem;
    filter: grayscale(90%);
    transition: $transition-700;
    &:hover {
      filter: none;
      transform: scale(1.05);
    }
  }
}

@include tablet {
  .photos {
    width: 100%;
    align-items: flex-start;
    &__header {
      @include h1-header-desktop;
      align-self: flex-start;
      margin: 2.5rem 0 3.5rem 1.5rem;
    }
    &__gallery {
      flex-direction: row;
      flex-wrap: wrap;
      @include justify-align-center;
      margin-bottom: 2rem;
    }

    &__images {
      width: 30%;
      margin: 0;
      padding: 0.75rem;
    }
  }
}

@include desktop {
  .photos {
    &__header {
      @include h1-header-desktop;
      align-self: flex-start;
      margin: 2.5rem 0 3.5rem 11.25rem;
    }
    &__gallery {
      margin: 0 9.75rem 2.5rem 9.75rem;
    }
    &__images {
      @include flex-row;
      @include justify-align-center;
      width: 30%;
      margin: 0;
      padding: 0.75rem;
    }
  }
}

// Comments Section
// *
// *
// *

.comments {
  @include flex-column;

  &__header {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    margin: 2rem 0 0.5rem 1rem;
    align-self: flex-start;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__block {
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  &__comment {
    @include flex-row;
    justify-content: space-between;
    border-bottom: 0.125rem $mercury solid;
    width: 18rem;

    &-image {
      height: 2.8rem;
      width: 2.8rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: left center;
      margin-top: 3.125rem;
    }

    &-filledForm {
      @include flex-column;
      width: 14rem;
      margin-bottom: 1.5rem;
    }

    &-title {
      @include flex-row;
      justify-content: space-between;
      align-items: baseline;
      margin: 1.5rem 0 1rem 0;
    }

    &-author {
      @include h3-subheader;
    }

    &-date {
      @include h4-lists-mob;
      font-size: 0.9rem;
      color: $silver;
    }

    &-photo {
      background-color: $silver;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      margin-top: 1.5rem;
    }
  }

  &__form {
    @include flex-column;
    width: 14rem;
    margin: 2rem 0;

    &-authorLabel {
      @include h5-labels-mob;
      color: $silver;
    }

    &-authorInput {
      border-radius: 0.313rem;
      background-color: $alabaster;
      border: 0.125rem $black solid;
      height: 2.5rem;
      margin: 0.125rem 0 1rem 0;
    }

    &-textLabel {
      @include h5-labels-mob;
      color: $silver;
    }

    &-textInput {
      background-color: $alabaster;
      border-radius: 0.313rem;
      height: 5rem;
      border: 0.063rem $mercury solid;
      padding: 0.4rem 0.1rem;
      margin: 0.125rem 0 1rem 0;
    }

    &-button {
      background-color: $black;
      @include h4-lists-mob;
      font-family: "AvenirDemi";
      color: $white;
      height: 2.5rem;
      border-radius: 0.313rem;
      border: 0.125rem $black solid;
    }

    &-author {
      @include h4-paragraph;
    }
  }
}

@include tablet {
  .comments {
    &__header {
      @include h1-header-desktop;
      align-self: flex-start;
      margin: 2.5rem 0 1rem 1.5rem;
    }

    &__comment {
      width: 60vw;
      &-filledForm {
        width: 52vw;
      }
    }

    &__form {
      width: 51vw;
    }
  }
}

@include desktop {
  .comments {
    &__header {
      @include h1-header-desktop;
      align-self: flex-start;
      margin-left: 11.25rem;
    }

    &__comment {
      width: 34.375rem;

      &-filledForm {
        width: 29.375rem;
      }
    }

    &__form {
      width: 28.75rem;

      &-button {
        width: 10rem;
        align-self: flex-end;
      }
    }
  }
}

// Footer Section
// *
// *
// *

.footer {
  background-color: $black;
  color: $white;
  @include flex-column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;

  &__header {
    @include flex-column;
    flex-wrap: wrap;
  }

  &__container {
    @include flex-column;
    width: 18.75rem;
  }

  &__heading {
    @include h1-header-desktop;
    margin: 2rem 0 0 1rem;
    align-self: flex-start;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__social {
    @include flex-row;
    justify-content: flex-start;
    margin: 1rem 0 0.5rem 1rem;
  }

  &__social-image {
    margin: 0 2rem 1.25rem 0;
    transition: $transition-650;
    &:hover {
      transform: scale(1.5);
    }
  }

  &__logo {
    display: none;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__copyright {
    font-size: 0.75rem;
    width: 12.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }
}

.info {
  &__container {
    @include flex-column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;
  }
  &__container-upperBlock {
    margin-bottom: 1.25rem;
  }
  &__container-blockText {
    @include h4-paragraph;
  }
  &__container-bottomBlock {
    margin-bottom: 1.5rem;
  }
  &__container-blockSubtext {
    @include h5-labels;
  }
  &__container-label {
    @include h4-lists;
    margin-bottom: 1.5rem;
  }
  &__container-email {
    text-decoration: none;
    color: $white;
  }
}

@include tablet {
  .footer {
    width: 100%;
    margin: 0;
    padding: 0;

    &__header {
      @include flex-row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
    }

    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 1rem;
      width: 100%;
    }

    &__heading {
      margin: 2.5rem 0 0 1.5rem;
      line-height: 1.75rem;
    }

    &__social {
      align-content: flex-end;
      margin: 0 0 0 2.5rem;
    }

    &__social-image {
      margin: 0 2rem 0 0;
    }

    &__logo {
      display: inline-flex;
      margin: 0 1.5rem 0 2.5rem;
    }

    &__copyright {
      width: 70%;
      margin: 0 0 3rem 1.5rem;
    }
  }
  .info {
    &__container {
      margin: 1.5rem 0 0 1.5rem;
      width: 100%;
    }
  }
}

@include desktop {
  .footer {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 75%;
      margin: 0 0 0 11.25rem;
    }

    &__heading {
      margin: 3rem 0 0 0;
    }

    &__social {
      margin-left: 9rem;
    }

    &__logo {
      margin: 3.5rem 1.5rem 0 0;
    }

    &__copyright {
      font-size: 0.875rem;
      width: 70%;
      margin: 1rem 0 3rem 11.25rem;
    }
  }

  .info {
    &__container {
      align-content: flex-start;
      justify-content: flex-start;
      margin: 3.5rem 4rem 0 0;
    }
    &__container-blockText {
      @include h3-subheader;
    }
    &__container-bottomBlock {
      margin-bottom: 1.5rem;
    }
    &__container-blockSubtext {
      font-size: 0.875rem;
    }
    &__container-label {
      font-size: 0.85rem;
      margin-bottom: 1.5rem;
    }
  }
}
