@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";

* {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular";
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Navigation Bar

.navbar {
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 80px;
  padding: 0;
  margin: 0;

  &__logo {
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 320px;
    margin: 0;

    &--item {
      @include h3-subheader;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    position: relative;
    &--active {
      &::after {
        content: "";
        position: absolute;
        top: 30px;
        left: -50px;
        height: 4px;
        width: 160px;
        background: $white;
      }
    }
  }
}

@include tablet {
  .navbar {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    &__logo {
      margin-left: 24px;
      padding-top: 15px;
    }

    &__link {
      text-decoration: none;
      color: $white;

      &--active {
        &::after {
          content: "";
          position: absolute;
          top: 46px;
          bottom: 0;
          left: -12px;
          height: 4px;
          width: 100px;
          background: $white;
        }
      }
    }
  }
}

@include desktop {
  .navbar {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    &__logo {
      margin-left: 180px;
      padding: 0;
    }
    &__link {
      &--active {
        &::after {
          content: "";
          position: absolute;
          top: 46px;
          left: 0;
          height: 4px;
          width: 80px;
          background: $white;
        }
      }
    }
  }
}

// Header Section

.header {
  background-image: url("/sprint-one/assets/images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  height: 183px;
  width: 320px;
  margin: 0;

  &__title {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 60%;
    color: $white;
    margin: 50px 0 0 16px;
  }
}

@include tablet {
  .header {
    width: 100%;
    height: 400px;

    &__title {
      width: 80%;
      font-size: 3.75rem;
      margin: 120px 24px;
    }
  }
}

@include desktop {
  .header {
    width: 100%;
    height: 670px;
    &__title {
      @include hero-header width: 47%;
      margin: 180px;
    }
  }
}

// About Section

.about {
  margin: 0;
  width: 320px;
  &__title {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 300px;
    margin: 32px 0 0 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--image {
      width: 288px;
      margin: 24px 0;
    }

    &--block {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 16px;
    }

    &--header {
      @include h1-header-mob;
      padding: 0;
    }

    &--subheader {
      @include h2-subheader-mob;
      margin: 32px 0 40px 0;
    }

    &--subdivision {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 40px;
      &--paragraph {
        @include h4-paragraph-mob;
        margin-top: 24px;
      }
    }
  }
}

@include tablet {
  .about {
    width: 100%;
    &__title {
      @include h1-header-desktop width: 90%;
      margin-left: 24px;
    }

    &__container {
      &--image {
        width: 720px;
      }
      &--block {
        margin: 0 24px 0 0;
      }
      &--header {
        font-family: "AvenirBold";
        font-size: 23px;
        line-height: 2rem;
        width: 90%;
        margin-left: 24px;
      }
      &--subheader {
        @include h3-subheader margin-left: 24px;
      }
      &--subdivision {
        flex-direction: row;
        &--paragraph {
          margin-left: 24px;
        }
      }
    }
  }
}

@include desktop {
  .about {
    &__title {
      margin-left: 180px;
    }
    &__container {
      &--image {
        margin: 48px 180px;
        width: 896px;
      }
      &--block {
        width: 896px;
        margin: 0 260px 0 180px;
      }
      &--header {
        margin: 0 0 0 40px;
      }
      &--subheader {
        margin: 40px 0 56px 40px;
      }
      &--subdivision {
        &--paragraph {
          width: 420px;
          font-size: 14px;
          margin-left: 40px;
        }
      }
    }
  }
}

// Photo Gallery Section

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $alabaster;
  margin: 0;
  width: 320px;

  &__header {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 300px;
    margin: 32px 0 8px 16px;
    align-self: flex-start;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    &--images {
      width: 288px;
      padding: 16px;
    }
  }
}

@include tablet {
  .photos {
    width: 100%;
    align-items: flex-start;
    &__header {
      @include h1-header-desktop;
      align-self: flex-start;
      margin: 2.5rem 0 3.5rem 1.5rem;
    }
    &__gallery {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      &--images {
        width: 30%;
        margin: 0;
        padding: 0.75rem;
      }
    }
  }
}

@include desktop {
  .photos {
    &__header {
      @include h1-header-desktop;
      align-self: flex-start;
      margin: 2.5rem 0 3.5rem 11.25rem;
    }
    &__gallery {
      margin: 0 9.75rem 2.5rem 9.75rem;
      &--images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 0;
        padding: 0.75rem;
      }
    }
  }
}

// Footer Section

.footer {
  background-color: $black;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  margin: 0;

  &__container {
    display: flex;
    flex-direction: column;
    width: 300px;

    &--heading {
      @include h1-header-desktop width: 300px;
      margin: 32px 0 0 16px;
      align-self: flex-start;
    }

    &--social {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 16px 0 8px 16px;
      width: 300px;

      &--image {
        margin: 0 32px 20px 0;
      }
    }

    &--logo {
      display: none;
    }
  }

  &__copyright {
    font-size: 12px;
    width: 200px;
    margin-left: 16px;
  }

  .info__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;

    &--upper-block {
      margin-bottom: 20px;
    }

    &--block--text {
      @include h4-paragraph;
    }

    &--bottom-block {
      margin-bottom: 24px;
    }

    &--block--subtext {
      @include h5-labels;
    }

    &--label {
      @include h4-lists;
      margin-bottom: 24px;
    }
  }
}

@include tablet {
  .footer {
    width: 100%;
    margin: 0;
    padding: 0;

    &__container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      margin-bottom: 1rem;

      &--heading {
        width: 35%;
        margin: 2.5rem 0 0 1.5rem;
        line-height: 1.75rem;
      }

      &--social {
        align-content: flex-end;
        margin: 0;
        &--image {
          margin: 0 2rem 0 0;
        }
      }

      &--logo {
        display: inline-flex;
        margin: 0 24px 0 2.5rem;
      }
    }

    &__copyright {
      width: 90%;
      margin: 0 0 3rem 24px;
    }

    .info__container {
      margin: 24px 0 0 24px;
    }
  }
}

@include desktop {
  .footer {
    &__container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 0 0 180px;

      &--heading {
        width: 20%;
        margin: 3rem 0 0 0;
      }

      &--social {
        margin: 3.5rem 0 0 0;
      }

      &--logo {
        margin: 3.5rem 180px 0 22rem;
      }
    }

    &__copyright {
      font-size: 0.875rem;
      width: 90%;
      margin: 16px 0 3rem 180px;
    }

    .info__container {
      align-content: flex-start;
      justify-content: flex-start;
      margin: 56px 64px 0 0;
      &--block--text {
        @include h3-subheader;
      }

      &--bottom-block {
        margin-bottom: 24px;
      }

      &--block--subtext {
        font-size: 0.875rem;
      }

      &--label {
        font-size: 0.85rem;
        margin-bottom: 24px;
      }
    }
  }
}
