// ---------------------------------------
// ABOUT SECTION
// ---------------------------------------

.about {
  margin: 0;
  width: 100%;
  &__title {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 18.75rem;
    margin: 2rem 0 0 1rem;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__container {
    @include flex-column;
    @include justify-align-center;
  }

  &__block {
    @include flex-column;
    justify-content: flex-start;
    margin: 0 1rem;
  }

  &__header {
    @include h1-header-mob;
    padding: 0;
  }

  &__subheader {
    @include h2-subheader-mob;
    margin: 2rem 0 2.5rem 0;
  }

  &__image {
    width: 90vw;
    margin: 1.5rem 0;
    transition: $transition-900;
    &:hover {
      transform: scale(1.025);
      box-shadow: 7px 7px 15px $mercury;
      border-radius: 5px;
    }
  }

  &__subdivision {
    @include flex-column;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
  }

  &__paragraph {
    @include h4-paragraph-mob;
    margin-top: 1.5rem;
  }
}

@include tablet {
  .about {
    width: 100%;
    &__title {
      @include h1-header-desktop;
      width: 80%;
      margin-left: 1.5rem;
    }

    &__block {
      margin: 0 1.5rem 0 0;
    }

    &__header {
      font-family: "AvenirBold";
      font-size: 1.438rem;
      line-height: 2rem;
      margin-left: 1.5rem;
    }

    &__subheader {
      @include h3-subheader;
      margin-left: 1.5rem;
    }

    &__image {
      // width: 45rem;
      width: 94vw;
    }

    &__subdivision {
      flex-direction: row;
    }
    &__paragraph {
      margin-left: 1.5rem;
    }
  }
}

@include desktop {
  .about {
    &__title {
      margin-left: 11.25rem;
    }

    &__block {
      width: 56rem;
      margin: 0 16.25rem 0 11.25rem;
    }

    &__header {
      margin: 0 0 0 2.5rem;
    }

    &__subheader {
      margin: 2.5rem 0 3.5rem 2.5rem;
    }

    &__image {
      margin: 3rem 11.25rem;
      width: 63vw;
    }

    &__paragraph {
      width: 26.25rem;
      font-size: 0.875rem;
      margin-left: 2.5rem;
    }
  }
}
