// ---------------------------------------
// PHOTO GALLERY SECTION
// ---------------------------------------

.photos {
  @include flex-column;
  align-items: center;
  background-color: $alabaster;
  margin: 0;
  width: 100%;

  &__header {
    font-family: "AvenirBold";
    font-size: 1.375rem;
    width: 18.75rem;
    margin: 2rem 0 0.5rem 1rem;
    align-self: flex-start;
    transition: $transition-700;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__gallery {
    @include flex-column;
    margin: 0;
    padding: 0;
  }

  &__images {
    width: 92vw;
    padding: 1rem;
    filter: grayscale(90%);
    transition: $transition-700;
    &:hover {
      filter: none;
      transform: scale(1.05);
    }
  }
}

@include tablet {
  .photos {
    width: 100%;
    align-items: flex-start;
    &__header {
      @include h1-header-desktop;
      align-self: flex-start;
      margin: 2.5rem 0 3.5rem 1.5rem;
    }
    &__gallery {
      flex-direction: row;
      flex-wrap: wrap;
      @include justify-align-center;
      margin-bottom: 2rem;
    }

    &__images {
      width: 30%;
      margin: 0;
      padding: 0.75rem;
    }
  }
}

@include desktop {
  .photos {
    &__header {
      @include h1-header-desktop;
      align-self: flex-start;
      margin: 2.5rem 0 3.5rem 11.25rem;
    }
    &__gallery {
      margin: 0 9.75rem 2.5rem 9.75rem;
    }
    &__images {
      @include flex-row;
      @include justify-align-center;
      width: 30%;
      margin: 0;
      padding: 0.75rem;
    }
  }
}
